canvas {
    display: block;
}

.PixiMapView {
    position: absolute;
    overflow: hidden;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 0, 221, 1);
}
